.main_404 {
    width: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;

    .title-container .title {
        
        padding: 0 1rem;
        width: auto;
    }
    .text-container {
        p {
            font-weight: 600;
            font-size: $font-lg;
            letter-spacing: 1px;
        }
    }
}