.main_projects {
    height: 100vh;
    width: 100%;
    display: grid;
    
    grid-template-areas: "title title"
                         "text users-in-project"
                         "links-project users-in-project";

    
    & > img {
        grid-area: title;
        width: 100%;
        max-width: 1000px;
        margin-left: auto;
        border-radius: 20px;
        margin-right: auto;
        margin-top: 107px;
    }

    & > img.small-img {
        max-width: 400px;
    }

    .texts {
        padding: $sep-md $sep-xxxl;
        grid-area: text;
        text-align: justify;
        height: 220px;
        overflow-y: auto;
        padding-left: $sep-xxxl + 2rem;

    }

    .text-container {
        width: 100%;
    }

    .texts::-webkit-scrollbar {
        background-color: $dark;
        width: 2px;
    }
    
    .texts::-webkit-scrollbar-thumb {
        background-color: $light;
    }

    .users-in-project-container {
        padding: $sep-md $sep-xxxl;
        grid-area: users-in-project
    }

    .links-project-container {
        grid-area: links-project
    }
    
}