@media (max-width: 875px) {
    .hamburguer {
        display: flex;
    }

    .header > ul ul li {
        color: $light;
    }

    .header > ul li {
        filter: inherit;
    }

    .header {
        position: fixed;
        height: 100vh;
        left: -100%;
        top: 0;
        transition: all .3s .1s ease;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        z-index: 4;
        justify-content: center;

        & > ul {
            display: flex;
            flex-direction: column;
            justify-content: inherit;
            align-items: center;
            width: 100%;

            li {
                font-size: $font-xl;
                width: max-content;
                margin: $sep-md 0;
                
                ul {
                    top: 100%;
                    z-index: 3;
                    background-color: $dark;
                    
                    li {
                        margin: $sep-sm 0;
                    }
                }
            }

            
        }

        .select-container {
            position: absolute;
            left: 40px;
            top: 40px;
        }

        .logo-container {
            width: 380px;
            height: 75px;
            margin: $sep-md 0;

            .logo {
                margin-left: 0;
            }
        }
    }
    .active_header > .header { left: 0; }
}