@media screen and (max-width: 1050px) {
    .main_projects {
        .texts {
            height: 255px;
            padding-left: 3rem;
        }

         
        .links-project-container h3, .links-project-container .links-project {
            padding-left: 3rem;
        }

        .links-project-container .links-project {
            overflow-y: auto;
            height: 100px;
        }

        .links-project-container .links-project::-webkit-scrollbar {
            background-color: $dark;
            width: 2px;
        }
        
        .links-project-container .links-project::-webkit-scrollbar-thumb {
            background-color: $light;
        }
    }
      
}

@media screen and (max-width: 875px) {
    .main_projects > img {
        margin-top: 80px;
        width: 150%;
        transform: translateX(-17%) !important;
    }
}

@media screen and (max-width: 815px) {
    .main_projects {

        height: auto;
        grid-template-areas: "title title"
        "text text"
        "links-project users-in-project";
    
        .texts {
            height: max-content;
            margin-bottom: $sep-md;
            margin-top: $sep-md;
        }

        h3 {
            padding-left: 0 !important;
        }

        .links-project-container .links-project {
            height: max-content;
            padding-left: 0 !important;

        }

        .users-in-project-container > h3 {
            text-align: center;
        }

        .users-in-project-container {
            padding: 0rem 2rem;
        }

        .decorate {
            height: 500px;
            width: 500px;
        }
        
        .decorate:has(.type6) {
            bottom: -100px;
            
        }
    }
    
    html:has(.main_projects) {
        position: fixed;
        height: 100%;
        overflow: hidden;
      }
    body:has(.main_projects) {
        width: 100vw; 
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
        -webkit-overflow-scrolling: touch;

        .footer {
            position: inherit
        }
    }
}

@media screen and (max-width: 575px) {
    .main_projects {
        
        grid-template-areas: "title"
        "text"
        "users-in-project"
        "links-project";

        .links-project-container {
            padding: $sep-xl $sep-sm;
        }

        .links-project-container .links-project {
            justify-content: center;
        }

        .links-project-container h3 {
            text-align: center;
            margin: auto;
            margin-bottom: 1rem;
        }
    }
}