<h3>{{'ha_palabra' | translate}} <span>{{'participar_palabra' | translate}}</span> {{'en_palabra' | translate}}</h3>
<div class="projects_container">
    <span *ngFor="let project of projects">{{project}}.</span>
</div>
<h3><span>{{'encontrar_palabra' | translate}}</span> {{'en_palabra' | translate}}</h3>
<div class="media_container">
    <a *ngFor="let media of social_media" target="_blank" [title]="media.class == 'icon-dc' ? media.title : ''" [href]="media.url" class="icon {{media.class}}"></a>
</div>