<h3>{{'ha_palabra' | translate}} <span>{{'participar_palabra' | translate}}</span> {{'en_palabra' | translate}}</h3>
<div class="projects_container">
    <span *ngFor="let project of projects">{{project}}.</span>
</div>
<h3><span>{{'encontrar_palabra' | translate}}</span> {{'en_palabra' | translate}}</h3>
<div class="media_container">
    <a *ngFor="let media of social_media" target="_blank" [href]="media.url" class="icon {{media.class}}"></a>
    <!--<a href="#" class="icon icon-gh"></a>
    <a href="#" class="icon icon-yt"></a>
    <a href="#" class="icon icon-tw"></a>
    <a href="#" class="icon icon-tch"></a>
    <a href="#" class="icon icon-ig"></a>
    <a href="#" class="icon icon-cf"></a>-->
</div>