
.decorate {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    height: 500px;
    width: 500px;
    position: absolute;
    z-index: -1 !important;
    pointer-events: none;

}

.decorate:has(.type1) {
    background-image: url("../../assets/images/decorate_1-home.svg");
    top: 0;
    right: -100px;
}

.decorate:has(.type2) {
    background-image: url("../../assets/images/decorate_2-home.svg");
    bottom: -35%;
    left: -160px;
}

.decorate:has(.type2_1) {
    background-image: url("../../assets/images/decorate_2-home.svg");
    top: -3%;
    left: -220px;
    transform: rotate(-90deg) !important;
}
    
.decorate:has(.type3) {
    bottom: -14%;
    z-index: 0;
    left: -14%;
    height: 600px;
    width: 600px;
    background-image: url("../../assets/images/decorate_3-aboutus.svg");
}

.decorate:has(.type4) {
    top: -8%;
    z-index: 0;
    right: -14%;
    height: 600px;
    width: 600px;
    background-image: url("../../assets/images/decorate_3-1-aboutus.svg");
}

.decorate:has(.type5) {
    top: 1px;
    z-index: 0;
    left: -350px;
    height: 600px;
    transform: rotate(90deg) !important;
    width: 600px;
    background-image: url("../../assets/images/decorate_4_project.svg");
}

.decorate:has(.type6) {
    bottom: 0;
    z-index: 0;
    right: -300px;
    height: 600px;
    width: 600px;
    background-image: url("../../assets/images/decorate_4_project.svg");
}

.decorate:has(.type7) {
    bottom: 0;
    z-index: 0;
    right: -300px;
    height: 600px;
    width: 600px;
    background-image: url("../../assets/images/decorate_5_contactus.png");
}

.decorate:has(.type8) {
    top: 0;
    z-index: 0;
    left: -300px;
    height: 600px;
    width: 600px;
    background-image: url("../../assets/images/decorate_5_contactus.png");
}