// * ICONS

.icon {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
}

.arrow-up-icon {
    background-image: url(../../assets/icons/arrow-up-icon.svg);
}

.home-smile-icon {
    background-image: url(../../assets/icons/home-smile-icon.svg);
}

.spain-flag-icon {
    background-image: url(../../assets/icons/spain-flag-icon.svg);
}

.usa-flag-icon {
    background-image: url(../../assets/icons/usa-flag-icon.svg);
}

.icon-chevron-down {
    background-image: url(../../assets/icons/chevron-down-icon.svg);
}

.icon-gh {
    background-image: url(../../assets/icons/github.png);
}

.icon-yt {
    background-image: url(../../assets/icons/youtube.png);
}

.icon-tw {
    background-image: url(../../assets/icons/twitter.png);
}

.icon-ig {
    background-image: url(../../assets/icons/instagram.png);
}

.icon-cf {
    background-image: url(../../assets/icons/curseforge.png);
}

.icon-tch {
    background-image: url(../../assets/icons/twitch.png);
}