// * ICONS

.icon {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
}

.arrow-up-icon {
    background-image: url(../../assets/icons/arrow-up-icon.svg);
}

.home-smile-icon {
    background-image: url(../../assets/icons/home-smile-icon.svg);
}

.spain-flag-icon {
    background-image: url(../../assets/icons/spain-flag-icon.svg);
}

.usa-flag-icon {
    background-image: url(../../assets/icons/usa-flag-icon.svg);
}

.cs-flag-icon {
    background-image: url(../../assets/icons/czech-flag-icon.png);
}

.pl-flag-icon {
    background-image: url(../../assets/icons/poland-flag-icon.png);
}

.ja-flag-icon {
    background-image: url(../../assets/icons/japan-flag-icon.png);
}

.icon-chevron-down {
    background-image: url(../../assets/icons/chevron-down-icon.svg);
}

.icon-gh {
    background-image: url(../../assets/icons/github.png);
}

.icon-yt {
    background-image: url(../../assets/icons/youtube.png);
}

.icon-tw {
    background-image: url(../../assets/icons/twitter.png);
}

.icon-ig {
    background-image: url(../../assets/icons/instagram.png);
}

.icon-lk {
    background-image: url(../../assets/icons/linkedin.svg);
}

.icon-gmail {
    background-image: url(../../assets/icons/gmail.svg);
}

.icon-stackoverflow {
    background-image: url(../../assets/icons/stack-overflow.svg);
}

.icon-cf {
    background-image: url(../../assets/icons/curseforge.png);
}

.icon-dc {
    background-image: url(../../assets/icons/discord-icon.png);
}

.icon-tch {
    background-image: url(../../assets/icons/twitch.png);
}

.icon-steam-project {
    background-image: url(../../assets/icons/steam_project.svg);
}

.icon-cf-project {
    background-image: url(../../assets/icons/curseforge-icon.svg);
}

.icon-switch-project {
    background-image: url(../../assets/icons/nintendo-switch-project.svg);
}

.icon-gh-project {
    background-image: url(../../assets/icons/github_project.svg);
}

.icon-ex-link-project {
    background-image: url(../../assets/icons/external_link_project.svg);
}

.icon-send {
    background-image: url(../../assets/icons/send-icon.svg);
}

.icon-at-sign {
    background-image: url(../../assets/icons/at-sign-icon.svg);
}

.icon-git {
    background-image: url(../../assets/icons/git-icon.svg);
}