// * LINK TYPES (DESIGN CLASSES DEPENDS OF PAGE)

// * HOME STYLES

// * STYLES TYPE 1

div.type1 {
    z-index: -1;
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: $rounded-full;
    background-color: $dark;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
}

div.type1.c-1 , .arrow-scroll .type1.c-1, .link-back .type1.c-1 {
    height: 40px;
    width: 40px;
    transition: all .3s ease;
}
div.type1.c-2 , .arrow-scroll .type1.c-2, .link-back .type1.c-2 {
    height: 20px;
    width: 20px;
    top: 120%;
    left: 50%;
    transition: all .13s .3s ease;
}
div.type1.c-3 , .arrow-scroll .type1.c-3, .link-back .type1.c-3 {
    height: 20px;
    width: 20px;
    top: -10%;
    left: 50%;
    transition: all .21s .3s ease;
}
div.type1.c-4 , .arrow-scroll .type1.c-4, .link-back .type1.c-4 {
    height: 20px;
    width: 20px;
    top: 10%;
    left: 57%;
    transition: all .1s .3s ease;
}
div.type1.c-5 , .arrow-scroll .type1.c-5, .link-back .type1.c-5 {
    height: 25px;
    width: 25px;
    top: 50%;
    left: 60%;
    transition: all .1s .3s ease;
}
div.type1.c-6 , .arrow-scroll .type1.c-6, .link-back .type1.c-6 {
    height: 25px;
    width: 25px;
    transition: all .3s ease;
}
div.type1.c-7 , .arrow-scroll .type1.c-7, .link-back .type1.c-7 {
    height: 25px;
    width: 25px;
    top: 17%;
    left: 40%;
    transition: all .1s .3s ease;
}
div.type1.c-8 , .arrow-scroll .type1.c-8, .link-back .type1.c-8 {
    height: 15px;
    width: 15px;
    transition: all .15s .3s ease;
}
div.type1.c-9 , .arrow-scroll .type1.c-9, .link-back .type1.c-9 {
    height: 15px;
    width: 15px;
    transition: all .1s .3s ease;
}
div.type1.c-10, .arrow-scroll .type1.c-10, .link-back .type1.c-10 {
    height: 15px;
    width: 15px;
    top: -10%;
    left: 80%;
    transition: all .23s .3s ease;
}
div.type1.c-11, .arrow-scroll .type1.c-11, .link-back .type1.c-11 {
    height: 8px;
    width: 8px;
    top: 100%;
    left: 83%;
    transition: all .23s .3s ease;
}
div.type1.c-12, .arrow-scroll .type1.c-12, .link-back .type1.c-12 {
    height: 10px;
    width: 10px;
    top: 30%;
    left: 14%;
    transition: all .23s .3s ease;
}
div.type1.c-13, .arrow-scroll .type1.c-13, .link-back .type1.c-13 {
    height: 27px;
    width: 27px;
    top: 90%;
    left: 60%;
    transition: all .15s .3s ease;
}
div.type1.c-14, .arrow-scroll .type1.c-14, .link-back .type1.c-14 {
    height: 22px;
    width: 22px;
    top: 90%;
    left: 40%;
    transition: all .15s .3s ease;
}
div.type1.c-15, .arrow-scroll .type1.c-15, .link-back .type1.c-15 {
    height: 18px;
    width: 18px;
    top: 100%;
    left: 10%;
    transition: all .1s .3s ease;
}

// * ARROW SCROLL TYPE 1

.arrow-scroll .type1.c-2, .link-back .type1.c-2 {
    top: 83%;
    left: 81%;
}
.arrow-scroll .type1.c-3, .link-back .type1.c-3 {
    top: 6%;
    left: 44%;
}
.arrow-scroll .type1.c-4, .link-back .type1.c-4 {
    left: 22%;
    top: 4%;
}
.arrow-scroll .type1.c-5, .link-back .type1.c-5 {
    left: 5%;
}
.arrow-scroll .type1.c-6, .link-back .type1.c-6 {
    left: 10%;
}
.arrow-scroll .type1.c-7, .link-back .type1.c-7 {
    left: 3%;
}
.arrow-scroll .type1.c-8, .link-back .type1.c-8 {
    left: 89%;
    top: 39%;
}
.arrow-scroll .type1.c-9, .link-back .type1.c-9 {
    left: 98%;
    top: 61%;
}
.arrow-scroll .type1.c-10, .link-back .type1.c-10 {
    top: -10%;
    left: 80%;
}
.arrow-scroll .type1.c-11, .link-back .type1.c-11 {
    top: 122%;
    left: 97%;
}
.arrow-scroll .type1.c-12, .link-back .type1.c-12 {
    top: 30%;
    left: -50%;
}
.arrow-scroll .type1.c-13, .link-back .type1.c-13 {
    top: 90%;
    left: 60%;
}
.arrow-scroll .type1.c-14, .link-back .type1.c-14 {
    top: 90%;
    left: 40%;
}
.arrow-scroll .type1.c-15, .link-back .type1.c-15 {
    top: 83%;
    left: 10%;
}

.arrow-scroll .type1, .link-back .type1 {
    background-color: $light !important;
    z-index: -1;
}
// * STYLE TYPE 1 HOVER
li.type1:hover > .type1,li.type1:focus > .type1,.arrow-scroll:hover >.type1, .arrow-scroll:focus >.type1,.link-back:hover >.type1, .link-back:focus >.type1  {
    transform: translate(-50%, -50%) scale(1);
}

// * STYLES TYPE 2

div.type2 {
    z-index: -1;
    position: absolute;
    background-color: $red;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scaleY(0) rotate(0);
}

.member > div.type2 {
    top: 25%;
}

div.type2.c-1  {
    width: 0;
    height: 0;
    background-color: transparent;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid $red;
    transition: transform .15s .3s ease;
}

li.type2:hover > .type2.c-1,li.type2:focus > .type2.c-1, .member:hover > .type2.c-1,.member:focus > .type2.c-1 {
    transform: translate(100%, -48%) scaleY(1) rotate(90deg);
}

.member > div.type2.c-1 {
    border-bottom: 35px solid $red;
}

div.type2.c-2  {
    width: 0;
    height: 0;
    background-color: transparent;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 40px solid $red;
    transition: transform .3s ease;
}

li.type2:hover > .type2.c-2,li.type2:focus > .type2.c-2, .member:hover > .type2.c-2,.member:focus > .type2.c-2 {
    transform: translate(-52%, -10%) scaleY(1) rotate(180deg);
}

.member > div.type2.c-2 {
    border-bottom: 55px solid $red;
}

div.type2.c-3  {
    width: 0;
    height: 0;
    background-color: transparent;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 40px solid $red;
    
    transition: transform .3s ease;
}

li.type2:hover > .type2.c-3,li.type2:focus > .type2.c-3, .member:hover > .type2.c-3,.member:focus > .type2.c-3 {
    transform: translate(-127%, -45%) scaleY(1) rotate(-90deg);
}

.member > div.type2.c-3 {
    border-bottom: 55px solid $red;
}

div.type2.c-4  {
    width: 0;
    height: 0;
    background-color: transparent;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 35px solid $red;
    
    transition: transform .1s .3s ease;
}

li.type2:hover > .type2.c-4,li.type2:focus > .type2.c-4, .member:hover > .type2.c-4,.member:focus > .type2.c-4 {
    transform: translate(-50%, -80%) scaleY(1) rotate(0deg);
}

.member > div.type2.c-4 {
    border-bottom: 50px solid $red;
}

div.type2.c-5  {
    width: 0;
    height: 0;
    background-color: transparent;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 35px solid $red;
    
    transition: transform .1s .3s ease;
}

li.type2:hover > .type2.c-5,li.type2:focus > .type2.c-5, .member:hover > .type2.c-5,.member:focus > .type2.c-5 {
    transform: translate(0%, -30%) scaleY(1) rotate(135deg);
}

.member > div.type2.c-5 {
    border-bottom: 50px solid $red;
}

div.type2.c-6  {
    width: 0;
    height: 0;
    background-color: transparent;
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
    border-bottom: 40px solid $red;
    transition: transform .3s ease;
    
}

li.type2:hover > .type2.c-6,li.type2:focus > .type2.c-6, .member:hover > .type2.c-6,.member:focus > .type2.c-6 {
    transform: translate(-130%, -27%) scaleY(1) rotate(-126deg);
}

.member > div.type2.c-6 {
    border-bottom: 55px solid $red;
}

div.type2.c-7  {
    width: 0;
    height: 0;
    background-color: transparent;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 40px solid $red;
    
    transition: transform .1s .3s ease;
}

li.type2:hover > .type2.c-7,li.type2:focus > .type2.c-7, .member:hover > .type2.c-7,.member:focus > .type2.c-7 {
    transform: translate(-100%, -70%) scaleY(1) rotate(-45deg);
}

.member > div.type2.c-7 {
    border-bottom: 55px solid $red;
}

div.type2.c-8  {
    width: 0;
    height: 0;
    background-color: transparent;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 40px solid $red;
    
    transition: transform .15s .3s ease;
}

li.type2:hover > .type2.c-8,li.type2:focus > .type2.c-8, .member:hover > .type2.c-8,.member:focus > .type2.c-8 {
    transform: translate(0%, -70%) scaleY(1) rotate(45deg);
}

.member > div.type2.c-8 {
    border-bottom: 55px solid $red;
}


div.type2.c-9  {
    width: 0;
    height: 0;
    background-color: transparent;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 47px solid $red;
    
    transition: transform .1s .3s ease;
}

li.type2:hover > .type2.c-9,li.type2:focus > .type2.c-9, .member:hover > .type2.c-9,.member:focus > .type2.c-9 {
    transform: translate(82%, -37%) scaleY(1) rotate(111deg)
}

.member > div.type2.c-9 {
    border-bottom: 53px solid $red;
}

div.type2.c-10 {
    width: 0;
    height: 0;
    background-color: transparent;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 47px solid $red;
    
    transition: transform .23s .3s ease;
}

li.type2:hover > .type2.c-10,li.type2:focus > .type2.c-10, .member:hover > .type2.c-10,.member:focus > .type2.c-10 {
    transform: translate(-3%, -22%) scaleY(1) rotate(155deg);
}

.member > div.type2.c-10 {
    border-bottom: 53px solid $red;
}

div.type2.c-11 {
    width: 0;
    height: 0;
    background-color: transparent;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 47px solid $red;
    
    transition: transform .3s ease;
}

li.type2:hover > .type2.c-11,li.type2:focus > .type2.c-11, .member:hover > .type2.c-11,.member:focus > .type2.c-11 {
    transform: translate(-100%, -20%) scaleY(1) rotate(200deg);
}

.member > div.type2.c-11 {
    border-bottom: 53px solid $red;
}

div.type2.c-12 {
    width: 0;
    height: 0;
    background-color: transparent;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 47px solid $red;
    
    transition: transform .23s .3s ease;
}

li.type2:hover > .type2.c-12,li.type2:focus > .type2.c-12, .member:hover > .type2.c-12,.member:focus > .type2.c-12 {
    transform: translate(-160%, -55%) scaleY(1) rotate(-67deg);
}

.member > div.type2.c-12 {
    border-bottom: 53px solid $red;
}

div.type2.c-13 {
    width: 0;
    height: 0;
    background-color: transparent;
    border-left: 12px solid transparent;
    border-right: 1px solid transparent;
    border-bottom: 40px solid $red;
    
    transition: transform .15s .3s ease;
}

li.type2:hover > .type2.c-13,li.type2:focus > .type2.c-13, .member:hover > .type2.c-13,.member:focus > .type2.c-13 {
    transform: translate(-21%, -76%) scaleY(1) rotate(17deg);
}

.member > div.type2.c-13 {
    border-bottom: 55px solid $red;
}

div.type2.c-14 {
    width: 0;
    height: 0;
    background-color: transparent;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 47px solid $red;
    
    transition: transform .15s .3s ease;
}

li.type2:hover > .type2.c-14,li.type2:focus > .type2.c-14, .member:hover > .type2.c-14,.member:focus > .type2.c-14 {
    transform: translate(-88%, -61%) scaleY(1) rotate(-23deg);
}

.member > div.type2.c-14 {
    border-bottom: 53px solid $red;
}

div.type2.c-15 {
    width: 0;
    height: 0;
    background-color: transparent;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 47px solid $red;
    
    transition: transform .1s .3s ease;
}

li.type2:hover > .type2.c-15,li.type2:focus > .type2.c-15, .member:hover > .type2.c-15,.member:focus > .type2.c-15 {
    transform: translate(46%, -59%) scaleY(1) rotate(76deg);
}

.member > div.type2.c-15 {
    border-bottom: 53px solid $red;
}

// * STYLES TYPE 3

li.type3, .member:has(.type3) {
    position: relative;
}

li.type3::after, .member:has(.type3)::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../../assets/images/hover_link-in.png);
    height: 40px;
    width: 40px;
    opacity: 0;
    transition: all .27s .1s ease;
}

li.type3::before, .member:has(.type3)::before {
    content: '';
    position: absolute;
    left: 50%;
    opacity: 0;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    height: 90px;
    width: 90px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../../assets/images/hover_link.png);
    transition: all .27s .16s ease;
}

.member:has(.type3)::after {
    top: 28%;
    height: 70px;
    width: 70px;
}

.member:has(.type3)::before {
    top: 28%;
    height: 130px;
    width: 130px;
}

li.type3:hover::after,li.type3:hover::before, .member:has(.type3):hover::before, .member:has(.type3):hover::after {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
}

// * STYLES TYPE 4

li.type4, .btn-submit.type4 {
    position: relative;
}

li.type4::after, .btn-submit.type4::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-60%, -50%) scale(0);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../../assets/images/hover_link-contact.png);
    height: 65px;
    width: 65px;
    transition: all .27s .1s ease;
}

.btn-submit.type4::after {
    height: 75px;
    width: 75px;
    z-index: -1;
    transform: translate(-58%, -50%) scale(0);
}

li.type4:hover::after {
    transform: translate(-60%, -50%) scale(1);
}

.btn-submit.type4:hover::after {
    transform: translate(-58%, -50%) scale(1);
}