<h2>{{"envianos_un_palabras" | translate}}<span> {{"mensaje_palabra" | translate}}</span></h2>
<form class="form" (ngSubmit)="sendEmail($event)">
    <div class="input-gmail">
        <div class="icon icon-at-sign"></div>
        <input type="email" name="from_email" [(ngModel)]="from_email" id="email" [placeholder]="'introducir_email' | translate">
    </div>

    <div class="textarea-msg-btn">
        <textarea [(ngModel)]="message" [placeholder]="'escribir_email' | translate" name="message" id="msg_email" required></textarea>
        <button type="submit" class="btn-submit type4"><div class="icon icon-send"></div></button>
    </div>
    <p class="{{is_success_sent ? 'text_email_sent success' : 'text_email_sent error'}}">{{send_msg | translate}}</p>
    <p *ngIf="is_sending" class="{{is_sending ? 'text_email_sent success' : ''}}">{{'waiting_msg' | translate}}</p>
</form>