<img src="../../../assets/images/img_user_aboutus.svg" alt="User profile">
<h3>{{name}}</h3>
<p>
    <span *ngFor="let funct of functions">{{funct}}. </span>
</p>

<div class="{{style_type}} c-1"></div>
<div class="{{style_type}} c-2"></div>
<div class="{{style_type}} c-3"></div>
<div class="{{style_type}} c-4"></div>
<div class="{{style_type}} c-5"></div>
<div class="{{style_type}} c-6"></div>
<div class="{{style_type}} c-7"></div>
<div class="{{style_type}} c-8"></div>
<div class="{{style_type}} c-9"></div>
<div class="{{style_type}} c-10"></div>
<div class="{{style_type}} c-11"></div>
<div class="{{style_type}} c-12"></div>
<div class="{{style_type}} c-13"></div>
<div class="{{style_type}} c-14"></div>
<div class="{{style_type}} c-15"></div>
