<div>
    <h2><span>{{"siguenos_palabra" | translate}}</span> {{"en_palabra" | translate}}:</h2>
    <div class="links">
        <a href="#" class="icon icon-tw"></a>
        <a href="#" class="icon icon-ig"></a>
        <a href="#" class="icon icon-yt"></a>
        <a href="#" class="icon icon-tch"></a>
        <a href="#" class="icon icon-cf"></a>
    </div>
</div>

<div>
    <h2>{{"observa_nuestro_palabras" | translate}} <span>{{"avances_palabra" | translate}}</span> {{"en_palabra" | translate}}:</h2>
    <div class="links">
        <a href="#" class="icon icon-gh"></a>
    </div>
</div>

<div>
    <h2>{{"unete_comunidad_palabras" | translate}} <span>{{"comunidad_avances" | translate}}</span> {{"en_sobre_palabra" | translate}}:</h2>
    <div class="links">
        <a href="#" class="icon icon-dc"></a>
    </div>
</div>