<div>
    <h2><span>{{"siguenos_palabra" | translate}}</span> {{"en_palabra" | translate}}:</h2>
    <div class="links">
        <a target="_blank" href="https://twitter.com/SteelCodeTeam" class="icon icon-tw"></a>
        <a target="_blank" href="https://youtube.com/@SteelCodeTeam" class="icon icon-yt"></a>
        <a target="_blank" href="https://twitch.com/SteelCodeTeam" class="icon icon-tch"></a>
        <a target="_blank" href="https://legacy.curseforge.com/members/steelcodeteam/projects" class="icon icon-cf"></a>
    </div>
</div>

<div>
    <h2>{{"observa_nuestro_palabras" | translate}} <span>{{"avances_palabra" | translate}}</span> {{"en_palabra" | translate}}:</h2>
    <div class="links">
        <a target="_blank" href="https://github.com/SteelCodeTeam" class="icon icon-gh"></a>
    </div>
</div>

<div>
    <h2>{{"unete_comunidad_palabras" | translate}} <span>{{"comunidad_avances" | translate}}</span> {{"en_sobre_palabra" | translate}}:</h2>
    <div class="links">
        <a target="_blank" href="https://discord.gg/YHqMTRYAMT" class="icon icon-dc"></a>
    </div>
</div>