// * COLORS
$light: #FEFEFE;
$dark: #494949;
$pure_dark: #111111;
$gray: #CECECE;
$gray_50: #cecece3f;
$pink: #FF3377;
$soft_pink: #ff337746;
$green: #A7C957;
$red: #EC5656;
$soft_red: #ec565653;

// * MARGINS & PADDINGS
$sep-xxs: 3px;
$sep-xs: 6px;
$sep-sm: 1rem;
$sep-md: 1.2rem;
$sep-lg: 1.5rem;
$sep-xl: 2rem;
$sep-xxl: 2.5rem;
$sep-xxxl: 3rem;

// * FONT SIZES
$font-xs: 14px;
$font-sm: 1rem;
$font-md: 1.1rem;
$font-lg: 1.5rem;
$font-xl: 1.7rem;
$font-xxl: 2rem;
$font-xxxl: 2.5rem;
$font-xxxxl: 3.5rem;
$font-xxxxxl: 4.5rem;
$font-title: 7rem;

// * BORDER RADIUS
$rounded-sm: 5px;
$rounded-md: 10px;
$rounded-lg: 15px;
$rounded-xl: 20px;
$rounded-full: 50%;
