<app-header [type]="'type2'" (select_lang)="selectLang($event)"></app-header>
<main class="main_about_us">
    <app-decorate class="decorate" data-aos="fade-right" data-aos-duration="700" [class_type]="'type3'"></app-decorate>
    <app-decorate class="decorate" data-aos="fade-left" data-aos-duration="700" [class_type]="'type4'"></app-decorate>
    <app-title class="title-container" data-aos="fade-down" data-aos-duration="700" [title]="'titulo_aboutus' | translate"></app-title>
    <app-text class="text-container" data-aos="fade-up" data-aos-duration="700" [text]="'parrafo_1_aboutus' | translate"></app-text>
    <app-slider-users data-aos="fade-up" data-aos-duration="700" class="slider-container"></app-slider-users>
</main>
<app-footer class="footer"></app-footer>
