// * RESET STYLES

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    outline: none;
    border: none;
    font-family: 'Noto Sans Medium';
    font-weight: 400;
    scroll-behavior: smooth;
}

textarea, input, select, option {
    font-family: 'Noto Sans Medium';
}


*::after, *::before {
    box-sizing: border-box;
}

body {
    overflow: hidden;
    background-color: $pure_dark;
}

body::-webkit-scrollbar,.header::-webkit-scrollbar, .main_projects::-webkit-scrollbar, .main_about_us::-webkit-scrollbar, .main_contact_us::-webkit-scrollbar {
    background-color: $dark;
    width: 7px;
}

body::-webkit-scrollbar-thumb, .header::-webkit-scrollbar-thumb, .main_projects::-webkit-scrollbar-thumb, .main_about_us::-webkit-scrollbar-thumb, .main_contact_us::-webkit-scrollbar-thumb {
    background-color: $light;
}

@media screen and (max-width:815px) {
    body::-webkit-scrollbar,.main_projects::-webkit-scrollbar, .main_about_us::-webkit-scrollbar, .main_contact_us::-webkit-scrollbar {
        width: 4px;
    }
}

// * FONT TITLES
h1 {
    font-family: 'BSD' !important;
}