// * TITLE FONT
@font-face {
    font-family: 'BSD';
    src: url('../../assets/fonts/Big_Shoulders_Display/BigShouldersDisplay-VariableFont_wght.ttf') format('truetype');
}

// * PARAGRAPH FONT
@font-face {
    font-family: 'Noto Sans Medium';
    src: url('../../assets/fonts/Noto_Sans/NotoSans-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Noto Sans Light';
    src: url('../../assets/fonts/Noto_Sans/NotoSans-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Noto Sans Bold';
    src: url('../../assets/fonts/Noto_Sans/NotoSans-Bold.ttf') format('truetype');
}